:root {
  --light-primary: #f9faf8;
  --light-secondary: #e5e7eb;
  --dark: #1f2937;
  --accent: #3882f6;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

cite {
  font-style: inherit;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--dark);
}

.btn {
  background-color: var(--accent);
  color: var(--light-primary);
  font-size: 1.125rem;
  font-weight: 900;
  padding: 0.3em 2em;
  border-radius: 0.5rem;
  border: none;
}

section#hero {
  background-color: var(--dark);
  display: grid;
  grid-template-columns: auto minmax(650px, 1000px) auto;
}

.hero-header {
  grid-column: 2 / span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.375rem;
}

.hero-header > .logo {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--light-primary);
}

nav > ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  font-size: 1.125rem;
  color: var(--light-secondary);
}

.hero-content {
  grid-column: 2 / span 1;
  margin: 8rem 0;
  display: flex;
  gap: 3.5rem;
}

.hero-content > :is(.left, .right) {
  flex: 1;
}

.hero-title {
  font-size: 3rem;
  font-weight: 900;
  color: var(--light-primary);
}

.hero-text {
  font-size: 1.125rem;
  color: var(--light-secondary);
  padding-bottom: 1rem;
}

.hero-img {
  width: 50%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

section#features {
  background-color: var(--light-primary);
  padding: 3rem 1rem 6rem 1rem;
}

.features-title {
  font-size: 2.25rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2.5rem;
}

.feature-container {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  max-width: 800px;
  margin: 0 auto;
}

.feature {
  flex: 1;
  max-width: 150px;
}

.feature-img {
  width: 100%;
  height: auto;
  border: 3px solid var(--accent);
  border-radius: 1rem;
}

.feature-text {
  text-align: justify;
  text-align-last: center;
}

section#quote {
  background-color: var(--light-secondary);
  color: var(--dark);
  padding: 8rem 0 6rem 0;
}

section#quote > .flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.quote {
  font-size: 2.25rem;
  font-weight: 300;
  font-style: italic;
}

.quote-source {
  font-size: 1.5rem;
  font-weight: 900;
  align-self: flex-end;
  margin: 1rem 1rem 0 0;
}

.quote-source::before {
  content: "-";
}

section#call-to-action {
  padding: 6rem 1rem;
}

section#call-to-action > .container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--accent);
  border-radius: 0.5rem;
  padding: 2rem 1rem;
}

section#call-to-action .flex-wrapper {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-title {
  font-size: 1.125rem;
  font-weight: 900;
  color: var(--light-primary);
  margin-bottom: 0.25rem;
}

.action-text {
  color: var(--light-secondary);
}

section#call-to-action .btn {
  border: 2px solid var(--light-primary);
}

footer {
  background-color: var(--dark);
  color: var(--light-primary);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
